APP_ENV=dev
APP_SECRET=2ca64f8d83b9e89f5f19d672841d6bb8
DATABASE_URL="mysql://root:root@127.0.0.1:3306/snapadmin-dev?serverVersion=8&charset=utf8mb4"
COMPOSER_HOME=/usr/local/bin/composer
APP_URL=http://snapadmin.local:8888
