includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - packages/Core/DevOps/StaticAnalyze/PHPStan/extension.neon
    - packages/Core/DevOps/StaticAnalyze/PHPStan/rules.neon
    - packages/Core/DevOps/StaticAnalyze/PHPStan/core-rules.neon

parameters:
    phpVersion: 80200
    level: 8
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: true
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: true # Could be set to false if necessary during PHPStan update
    tmpDir: var/cache/phpstan
    paths:
        - packages
        - tests
    type_coverage:
        return_type: 97
        param_type: 97
        property_type: 50

    bootstrapFiles:
        - packages/Core/DevOps/StaticAnalyze/phpstan-bootstrap.php
    # run `php packages/Core/DevOps/StaticAnalyze/phpstan-bootstrap.php` to create the container
    symfony:
        constantHassers: false
        containerXmlPath: 'var/cache/phpstan_dev/SnapAdmin_Core_DevOps_StaticAnalyze_StaticAnalyzeKernelPhpstan_devDebugContainer.xml'
        consoleApplicationLoader: packages/Core/DevOps/StaticAnalyze/console-application.php

    excludePaths:
        - packages/WebInstaller/Resources/
        - packages/WebInstaller/ecs.php
        - packages/WebInstaller/vendor
        - packages/WebInstaller/Tests/_fixtures
        - tests/e2e/cypress

        - packages/Core/DevOps/StaticAnalyze/Rector/ClassPackageRector.php
        # vendor patches over autoload files
        - packages/Core/Framework/Adapter/Doctrine/Patch/AbstractAsset.php

        # Symfony interface typehints `Predis\ClientInterface` which is by default not available
        - packages/Core/Framework/Adapter/Cache/SnapAdminRedisAdapter.php
        - packages/Core/Framework/Adapter/Cache/SnapAdminRedisTagAwareAdapter.php

        # node_modules
        - packages/**/node_modules/*
        - tests/**/node_modules/*

        # twig override
        - packages/Core/Framework/Adapter/Twig/functions.php

        # class behind feature flags
        - packages/Core/Checkout/Cart/Exception/InvalidCartException.php

        # PHPStan rule test files
        - tests/unit/Core/DevOps/StaticAnalyse/PHPStan/Rules/data/*

        # Compatibility traits for Redis can be removed, once we are requiring Redis 6.0.0
        - packages/Core/Test/Stub/Redis/RedisCompatibility.php
        - packages/Core/Test/Stub/Redis/RedisMultiCompatibility.php

    ignoreErrors:
        - # No need to fix for now, as the facades are only used in twig context
            message: '#.* generic class SnapAdmin\\Core\\Framework\\DataAbstractionLayer\\Search\\EntitySearchResult.*does not specify its types: TEntityCollection#'
            paths:
                - packages/Core/Framework/DataAbstractionLayer/Facade/RepositoryFacade.php

        # The symfony extension checks against the "normal" container, not the test container
        # Therefore some services in the tests are not found and the extension can not infer that all private services are public during test execution
        -
            message: '#Service ".*" is not registered in the container\.#'
            paths:
                - packages/**/*Test.php
                - packages/Core/Framework/Test/TestCaseBase/*.php
        -
            message: '#Service ".*" is private#'
            paths:
                - packages/**/*Test.php

        # To fix this error, the \SnapAdmin\Core\Framework\Struct\Collection::createNew method has to be implemented
        # in every implementation of `Collection` and needs to return `new self` instead of `new static`. See https://github.com/phpstan/phpstan/issues/2773
        -
            message: '#Unsafe usage of new static\(\)#'
            paths:
             - packages/Core/Framework/Struct/Collection.php
             - packages/Core/Framework/DataAbstractionLayer/CompiledFieldCollection.php

        -
            message: '#Method SnapAdmin\\Core\\Framework\\DataAbstractionLayer\\Entity::\_\_.*\(\) has.*#'
            path: packages/Core/Framework/DataAbstractionLayer/Entity.php

        # Is in the new super class nullable as the extended class
        -
            message: "#^PHPDoc type string\\|null of property SnapAdmin\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\Field\\\\ReferenceVersionField\\:\\:\\$storageName is not covariant with PHPDoc type string of overridden property SnapAdmin\\\\Core\\\\Framework\\\\DataAbstractionLayer\\\\Field\\\\FkField\\:\\:\\$storageName\\.$#"
            count: 1
            path: packages/Core/Framework/DataAbstractionLayer/Field/ReferenceVersionField.php

        # PhpStan cannot follow the referenced cursor
        -
            message: "#^Variable \\$extensions in empty\\(\\) always exists and is always falsy\\.$#"
            count: 1
            path: packages/Core/Framework/DataAbstractionLayer/VersionManager.php

        # Internal deprecations of SnapAdmin are handled in other places
        - '#deprecated.*class SnapAdmin\\#'

        - # tests are allowed to add dummy classes in the same file
            message: '#Multiple class\/interface\/trait is not allowed in single file#'
            paths:
                - packages/**/Test/**

        - # Classes that are allowed to use dynamic property name access
            message: '#Use explicit names over dynamic ones#'
            paths:
                - packages/Core/Framework/Struct/AssignArrayTrait.php
                - packages/Core/Framework/Struct/CloneTrait.php
                - packages/Core/Framework/Struct/CreateFromTrait.php
                - packages/Core/Framework/Struct/XmlElement.php
                - packages/Core/Framework/DataAbstractionLayer/Dbal/EntityHydrator.php
                - packages/Core/Framework/DataAbstractionLayer/Entity.php
                - packages/Core/Framework/DataAbstractionLayer/Util/AfterSort.php

        # Breaking changes which are not worth it
        - '#Method SnapAdmin\\Core\\Framework\\DataAbstractionLayer\\EntityCollection::filterAndReduceByProperty\(\) has parameter \$value with no type specified\.#'

        - # Google Cloud Storage filesystem closes the stream even though it should not
            message: '#Call to function is_resource\(\) with resource will always evaluate to true#'
            paths:
                - packages/Core/Framework/Plugin/Util/AssetService.php
                - packages/Core/Content/Media/File/FileSaver.php

        - # Can not be fixed currently. See https://github.com/phpstan/phpstan/discussions/9159
            message: '#Method SnapAdmin\\Core\\Framework\\DataAbstractionLayer\\Field\\Field::getFlag\(\) should return \(TFlag of SnapAdmin\\Core\\Framework\\DataAbstractionLayer\\Field\\Flag\\Flag\)\|null but returns SnapAdmin\\Core\\Framework\\DataAbstractionLayer\\Field\\Flag\\Flag\|null#'
            path: packages/Core/Framework/DataAbstractionLayer/Field/Field.php
            count: 1

        - # Hard to fix, as no proper var annotation could be used within the while loop
            message: "#^Parameter \\#1 \\$mediaIds of method SnapAdmin\\\\Core\\\\Content\\\\Media\\\\UnusedMediaPurger\\:\\:filterOutNewMedia\\(\\) expects array\\<string\\>, array\\<int, array\\<string, string\\>\\|string\\> given\\.$#"
            count: 1
            path: packages/Core/Content/Media/UnusedMediaPurger.php

        # NEXT-29041 - Needs to be fixed with a script, rest goes to baseline
        - '#.* generic class SnapAdmin\\Core\\Framework\\DataAbstractionLayer\\EntityRepository.*not specify its types: TEntityCollection#'

        - # Needs a proper class-string annotation in `\SnapAdmin\Core\Framework\DataAbstractionLayer\EntityDefinition::getCollectionClass` and all child classes
            message: '#PHPDoc tag @var with type .*SnapAdmin\\Core\\Framework\\DataAbstractionLayer\\EntityCollection.* is not subtype of native type string#'
            paths:
                - packages/Core/Framework/DataAbstractionLayer/Dbal/EntityReader.php
                - packages/Core/Framework/DataAbstractionLayer/EntityRepository.php

        - # It is not possible to specify the type of the EntityResult, as the Aggregators are used for multiple entities at the same time
            message: '#Method SnapAdmin\\.*::hydrateEntityAggregation\(\) return type with generic class SnapAdmin\\Core\\Framework\\DataAbstractionLayer\\Search\\AggregationResult\\Metric\\EntityResult does not specify its types: TEntityCollection#'
            paths:
                - packages/Core/Framework/DataAbstractionLayer/Dbal/EntityAggregator.php
        # To not have a single case for each type, we check them dynamically.
        - message: '#Use explicit names over dynamic ones#'
          path: packages/Core/Framework/Validation/HappyPathValidator.php
          count: 2
services:
    -   # register the class so we can decorate it, but don't tag it as a rule, so only our decorator is used by phpstan
        class: Symplify\PHPStanRules\Rules\NoReturnSetterMethodRule

rules:
    # rules from https://github.com/symplify/phpstan-rules
    # domain
    - Symplify\PHPStanRules\Rules\Enum\RequireUniqueEnumConstantRule
    - Symplify\PHPStanRules\Rules\ForbiddenParamTypeRemovalRule
    - Symplify\PHPStanRules\Rules\PreventParentMethodVisibilityOverrideRule

    # paths
    - Symplify\PHPStanRules\Rules\NoMissingDirPathRule
    - Symplify\PHPStanRules\Rules\NoArrayAccessOnObjectRule

    # dead-code
    - Symplify\PHPStanRules\Rules\NoIssetOnObjectRule

    # explicit naming
    - Symplify\PHPStanRules\Rules\ForbiddenMultipleClassLikeInOneFileRule

    - Symplify\PHPStanRules\Rules\Complexity\ForbiddenArrayMethodCallRule

    # complexity rules
    - Symplify\PHPStanRules\Rules\Explicit\NoMixedPropertyFetcherRule
    - Symplify\PHPStanRules\Rules\Explicit\NoMixedMethodCallerRule
    - Symplify\PHPStanRules\Rules\NoDynamicNameRule

    # naming rules
    - SnapAdmin\Core\DevOps\StaticAnalyze\PHPStan\Rules\Symplify\NoReturnSetterMethodWithFluentSettersRule
    - Symplify\PHPStanRules\Rules\NoVoidGetterMethodRule
    - Symplify\PHPStanRules\Rules\UppercaseConstantRule
    - Symplify\PHPStanRules\Rules\CheckClassNamespaceFollowPsr4Rule
