includes:
    - phpstan-baseline.neon
    - vendor/phpstan/phpstan/conf/bleedingEdge.neon
    - packages/Core/DevOps/StaticAnalyze/PHPStan/extension.neon
    - packages/Core/DevOps/StaticAnalyze/PHPStan/rules.neon
    - packages/Core/DevOps/StaticAnalyze/PHPStan/core-rules.neon
parameters:
    phpVersion: 80200
    level: 8
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: true
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: true # Could be set to false if necessary during PHPStan update
    tmpDir: var/cache/phpstan
    paths:
        - packages
        - tests
    type_coverage:
        return_type: 99
        param_type: 98
        property_type: 55
    bootstrapFiles:
        - packages/Core/DevOps/StaticAnalyze/phpstan-bootstrap.php
    symfony:
        constantHassers: false
        containerXmlPath: 'var/cache/phpstan_dev/SnapAdmin_Core_DevOps_StaticAnalyze_StaticAnalyzeKernelPhpstan_devDebugContainer.xml'
        consoleApplicationLoader: packages/Core/DevOps/StaticAnalyze/console-application.php
    excludePaths:
        # vendor patches over autoload files
        - packages/Core/Framework/Adapter/Doctrine/Patch/AbstractAsset.php
    ignoreErrors:
        -
            message: '#Service ".*" is not registered in the container\.#'
            paths:
                - packages/**/*Test.php
                - tests/unit
                - tests/integration
                - packages/Core/Framework/Test/TestCaseBase/*.php
        -
            message: '#Service ".*" is private#'
            paths:
                - packages/**/*Test.php
                - tests/performance/**/*Bench.php
                - tests/unit/**/*Test.php
                - tests/integration/**/*Test.php
                - tests/integration/**/*TestCase.php
